---
import Close from '@icons/Close.astro';
import Menu from '@icons/Menu.astro';
---

<button
  id="menu-button"
  class="p-2 text-white hover:bg-gray-800 rounded-md transition-colors duration-300"
>
  <Menu class="open-menu size-6" />
  <Close class="close-menu size-6 hidden" />
</button>
